{% extends 'default.html' %}
{% load custom_tags %}
{% block content %}
<div class="row">
   <div class="col-lg-9 mb-3">
      <div class="row text-left mb-5">
         <div class="col-lg-6 text-lg-right">
             <a href="/board/createpost/" class="btn btn-primary btn-large">
                 создать пост
             </a>
         </div>
      </div>
         {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form class="col-lg-6 text-lg-right" action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>
      {% for post in posts %}
      <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
         <div class="row align-items-center">
            <div class="col-md-8 mb-3 mb-sm-0">
               <h5> <a href="/board/{{post.pk}}/" class="text-primary">{{post.header}}</a></h5>
               <p class="text-sm">{{post.author}}</p>
               <div class="text-sm op-5"> <a class="text-black mr-2" href="#">#{{post.category.name}}</a> </div>
            </div>
            <div class="col-md-4 op-7">
               <div class="row text-center op-7">
                  <div class="col px-1"> <i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">{{post.get_responses|length}} Responses</span></div>
               </div>
            </div>
         </div>
      </div>
      {% endfor %}

   </div>
   <div class="col-lg-3 mb-4 mb-lg-0 px-lg-0 mt-lg-0">
      <div style="visibility: hidden; display: none; width: 285px; height: 801px; margin: 0px; float: none; position: static; inset: 85px auto auto;"></div>
      <div data-settings="{&quot;parent&quot;:&quot;#content&quot;,&quot;mind&quot;:&quot;#header&quot;,&quot;top&quot;:10,&quot;breakpoint&quot;:992}" data-toggle="sticky" class="sticky" style="top: 85px;">
      </div>
   </div>
</div>
{% block pagination %}
   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock %}

{% endblock %}