{% extends 'default.html' %}
{% load custom_tags %}
{% load static %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% block content %}
    <div class="hero-unit">
      <h1>создание поста</h1>
      <p>Форма создания поста</p>
      <p>
      </p>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                {{form.media}}
                {{form.as_p}}
                <input class="btn btn-primary btn-large" type="submit" value="Save"/>
            </form>
        </div>
    </div>
{% endblock content %}
